{% extends 'base.html.twig' %}

{% block title %} Jumperpich | Newsletter {% endblock %}


{% block OG %}
    <meta property="og:url" content="https://www.jumperpich.com/S-abonner-a-la-newsletter">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Jumperpich | Newsletter ">
    <meta property="og:description" content="♬ S'inscrire à la Newsletter ♬">
    <meta property="og:image"
          content="https://www.jumperpich.com/pictures/Background_header_Newsletter.png">
{% endblock %}

{% block body %}

    <div class="container-fluid pt-4 mt-4 main">

        <div id="loading">
            <img src="{{ asset('pictures/loader.gif') }}" alt="Website Loader">
        </div>


        <div id="podcast" class="parallax-one"
             style="background: #000 url('{{ asset('pictures/parallax4.jpg') }}') center no-repeat">
            <div class="quote1-pattern" id="parallax-one"
                 style="background: url('{{ asset('pictures/services-banner.png') }}');">
            </div>
            <div class="row m-0">
                <div>
                    <h1 class="parallax-title"><img src="{{ asset('pictures/Newsletter.png') }}"></h1>
                </div>
            </div>
        </div>


        <div class="container mt-4 text-dark shadow p-3 mb-5 bg-white rounded">

            <div class="col text-center">

                <p>{% trans %}Ce formulaire vous permet de vous abonner à la newsletter gratuitement{% endtrans %}.
                <p>
                <p><b>{% trans %}ABONNEZ VOUS ET RECEVEZ{% endtrans %}:</b>
                <p>

                <p> > {% trans %}Les mixes en avant première!{% endtrans %} <br>
                    > {% trans %}Des liens vers mes découvertes et titres favoris du moment!{% endtrans %} <br>
                    > {% trans %}Et bien d'autres{% endtrans %} ... </p>

            </div>

            <div class="col mt-4">
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup {
                        background: #f2f2f2;
                        color: black;
                        clear: left;
                        font: 14px Helvetica, Arial, sans-serif;
                    }

                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup" class="p-4 mb-4">
                    <form action="https://jumperpich.us2.list-manage.com/subscribe/post?u=258cf984ef20b0376805f362f&amp;id=1aa0ed8c33"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                      name="b_258cf984ef20b0376805f362f_1aa0ed8c33"
                                                                                                      tabindex="-1"
                                                                                                      value=""></div>
                            <div class="clear"><input type="submit" value="{% trans %}S'inscrire{% endtrans %}"
                                                      name="subscribe" id="mc-embedded-subscribe"
                                                      class="btn btn__custom m-0"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript'
                        src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
                <small class="mt-4">{% trans %}En validant votre inscription, vous acceptez explicitement l’utilisation de vos données personnelles à l’usage exclusif du traitement de votre demande soumise via ce formulaire{% endtrans %}
                    .
                    {% trans %}Votre adresse de messagerie est uniquement utilisée pour vous envoyer la lettre d’actualité ainsi que des informations concernant mes activités. Vous pouvez à tout moment utiliser le lien de désabonnement intégré dans la newsletter{% endtrans %}
                    .</small>
            </div>
        </div>

    </div>

{% endblock %}
