<div class="filt">

    <div class="a-filter pl-0 d-flex justify-content-center" id="accordion">

        {{ form_start(form, {'attr': {'class' : 'js-filter-form'}}) }}

        {{ form_widget(form.Tags) }}

        {{ form_end(form) }}

    </div>

</div>
