<div class="filt">

    <div class="a-filter p-4 d-flex justify-content-center">

        {{ form_start(form, {'attr': {'class' : 'js-filter-form'}}) }}

        {{ form_widget(form.Tags) }}

        {{ form_end(form) }}

    </div>

</div>
