{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Mixes  {% endblock %}

{% block body %}


    <div class="container-fluid pt-4">
        <div id="podcast" class="parallax-one"
             style="background: #000 url('{{ asset('pictures/parallax3.jpg') }}') center no-repeat">
            <div class="quote1-pattern" id="parallax-one"
                 style="background: url('{{ asset('pictures/services-banner.png') }}');">
            </div>
            <div class="row m-0">
                <div>
                    <h1 class="parallax-title"><img src="{{ asset('pictures/podcasts.PNG') }}" alt="Podcast_Banner">
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">

        <div class="mx-4 my-4 js-filter" id="filter">

            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    {% include 'projet/_filter.html.twig' with {form:form} only %}
                </div>

                <div class="d-flex justify-content-end mt-4 mb-2 js-filter-sorting">
                    {% include 'projet/_sorting.html.twig' %}
                </div>

                <div class="col-lg-12 col-xl-12">
                    <div class="row text-center js-filter-content" id="mixes">
                        {% include 'projet/_projets.html.twig' %}
                    </div>
                    
                    <div class="js-filter-pagination nav justify-content-center" {% if pages is same as(1.0) %}style="display: none"{% endif %}>
                            {% include 'projet/_pagination.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}