{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Maintenance en cours  {% endblock %}

{% block body %}

    <div class="container-fluid main align-self-center">

        <header style="background: #000 url('{{ asset('pictures/Background_header_webp.webp') }}') center no-repeat fixed">

            <div class="container text-center pt-4">
            <h2>Site actuellement en maintenance ...</h2>
            <h2>Site currently under maintenance ...</h2>
            </div>

            <div class="my-4">

                <div class="text-center icon_social">
                    <a href="https://www.facebook.com/JumperpichMusic" class="mt-4 bg-transparent"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.youtube.com/user/JumperPichMusic" class="mt-4 bg-transparent"><i class="fab fa-youtube"></i></a>
                    <a href="https://soundcloud.com/jumperpich" class="mt-4 bg-transparent"><i class="fab fa-soundcloud"></i></a>
                </div>
            </div>
        </header>
    </div>
{% endblock %}