<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="google-site-verification" content="12vHMcs7K81ijpw7pmzOf8-CIJdjjR_Tp95qyYPsxZw"/>
    <title>♬ {% block title %} Jumperpich | Jumperpich.com {% endblock %} ♬ </title>
    <meta name="description"
          content="{% block description %} Site Officiel de Jumperpich. House & Harddance podcasts!{% endblock %}"/>
    <meta itemprop="image" content="https://jumperpich.com/pictures/Background_header_Jumperpich.png">

    <!-- Facebook Meta Tags -->
    {% block OG %}
        <meta property="og:url" content="https://jumperpich.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Jumperpich | Jumperpich.com ">
        <meta property="og:description" content="♬ Bienvenue sur le site officiel de Jumperpich ♬">
        <meta property="og:image"
              content="https://jumperpich.com/pictures/Background_header_Jumperpich.png">
    {% endblock %}


    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="♬ Jumperpich | Jumperpich.com ♬">
    <meta name="twitter:description" content="♬ Bienvenue sur le site officiel de Jumperpich ♬">
    <meta name="twitter:image" content="https://jumperpich.com/pictures/Background_header_Jumperpich.png">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://www.google.com/recaptcha/api.js?render=6LfKBrEUAAAAALs0yDYX-RkVwE5TlqAAJz2GFSZA"
            async></script>

    <!-- Stylesheets -->
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

    <!-- Ressources Scripts -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143368877-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-143368877-1');
    </script>
    <script id="mcjs">!function (c, h, i, m, p) {
            m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
        }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/258cf984ef20b0376805f362f/82cbfd8c0b2c4da42f6b19cc0.js");</script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '865848260488281');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=865848260488281&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>


{% include 'header.html.twig' %}

<div class="contenu">

    {% block body %}{% endblock %}

    <a id="back-to-top" href="#" class="btn__custom btn-lg back-to-top" role="button" data-toggle="tooltip"
       data-placement="left" aria-label="back-to-top"><i class="fas fa-arrow-up"></i> </a>

    <div class="cookie-container py-2 text-center">
        {% trans %}Nous utilisons les cookies sur le site pour vous donner la meilleure experience de navigation possible{% endtrans %}
        . <a href="/rgpd">{% trans %}Plus d'infos{% endtrans %}</a>
        <button class="cookie-btn btn btn__custom">OK</button>
    </div>

</div>


{% include 'footer.html.twig' %}


{% block javascripts %}{{ encore_entry_script_tags('app') | replace({'src=' : 'defer src='}) | raw }}{% endblock %}

</body>
</html>
