{% extends 'base.html.twig' %}

{% block title %}Jumperpich | Espace admin {% endblock %}

{% block body %}

    <main class="container mt-4 pt-4">

        {% for message in app.flashes('success') %}
            <div class="text-center fixed-bottom alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succès !</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        <h1 class="text-center h2home mt-4 pt-4" style="background: rgba(0,0,0,.7);padding: 20px 20px;;min-height: 41px;"> ESPACE ADMIN </h1>


        <div class="container mt-4">
            <nav>
                <ul class="nav flex-column text-center">
                    <li class="nav-item pt-4 pb-4">
                        <a href="{{ path('user.new_pwd') }}" class="list-group-item" style="color: black"> Modifier mon
                            mot de passe </a>
                    </li>
                    <li class="nav-item  pt-4 pb-4">
                        <a href="{{ path('user.editprofile') }}" class="list-group-item" style="color: black"> Modifier
                            mes
                            informations </a>
                    </li>
                    <li class="nav-item  pt-4 pb-4">
                        <a href="{{ path('user.deleteprofile') }}" class="list-group-item" style="color: black">
                            Supprimer mon
                            compte </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}

